html, body {
    height: 1300px;
}
.background{
    background-image: url(grunge-texture-background-collecti/close-up-photography-negative.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'sapeca';
    src: url(fontes/proclamate/proclamate\ heavy.ttf);
}
@font-face {
    font-family: 'sapecagem';
    src: url(fontes/proclamate/proclamate\ incised.ttf);
}

.linha{
    background: #ffff;
    height: 2000px;
    position: absolute;
    width: 1px;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    z-index: -1;
    margin: auto;
    transform: rotate(180deg);
}

body{
    background-color:#0000;
}


.indicador{
    background: #ffff;
    height: 1px;
    width: 10%;
}

#position-indic1{
    position: absolute;
    right: 0; left: 10%; bottom: 0;
    top: 0;
    margin: 200px auto;
}

#position-indic2{
    position: absolute;
    right: 10%; left: 0; bottom: 0;
    top: 0;
    margin: 400px auto;
}
#position-indic3{
    position: absolute;
    right: 0; left: 10%; bottom: 0;
    top: 0;
    margin: 600px auto;
}
#position-indic4{
    position: absolute;
    right: 10%; left: 0; bottom: 0;
    top: 0;
    margin: 800px auto;
}
#position-indic5{
    position: absolute;
    right: 0; left: 10%; bottom: 0;
    top: 0;
    margin: 1000px auto;
}
#position-indic6{
    position: absolute;
    right: 10%; left: 0; bottom: 0;
    top: 0;
    margin: 1200px auto;
}

::-webkit-scrollbar {
    width: 0;
}

.botao{
    position: absolute;
    width: 20%;
    height: 230px;
    border-radius: 1em;
    transition: 100ms;
}

.botao:hover{
    width: 25%;
    height: 290px;
    
}

#position-btn1:hover{
    top: 63px;
}
#position-btn2:hover{
    top: 263px;
}
#position-btn3:hover{
    top: 463px;
}
#position-btn4:hover{
    top: 663px;
}
#position-btn5:hover{
    top: 863px;
}
#position-btn6:hover{
    top: 1063px;
}

#position-btn1{
    src: url(imagens/Black\ Sabado.jpg);
    position: absolute;
    right: 0; left: 40%; bottom: 0;
    top: 85px;
    margin: 0px auto;
}
#position-btn2{
    position: absolute;
    right: 40%; left: 0; bottom: 0;
    top: 285px;
    margin: 0px auto;
}
#position-btn3{
    position: absolute;
    right: 0; left: 40%; bottom: 0;
    top: 485px;
    margin: 0px auto;
}
#position-btn4{
    position: absolute;
    right: 40%; left: 0; bottom: 0;
    top: 685px;
    margin: 0px auto;
}
#position-btn5{
    position: absolute;
    right: 0; left: 40%; bottom: 0;
    top: 885px;
    margin: 0px auto;
}
#position-btn6{
    position: absolute;
    right: 40%; left: 0; bottom: 0;
    top: 1085px;
    margin: 0px auto;
}

@media(max-width: 500px){
    .botao{
    width: 30%;
    height: 80px;
    }
    #position-btn1{
        position: absolute;
        right: 0; left: 50%; bottom: 0;
        top: 160px;
        margin: 0px auto;
    }
    #position-btn2{
        position: absolute;
        right: 50%; left: 0; bottom: 0;
        top: 360px;
        margin: 0px auto;
    }
    #position-btn3{
        position: absolute;
        right: 0; left: 50%; bottom: 0;
        top: 560px;
        margin: 0px auto;
    }
    #position-btn4{
        position: absolute;
        right: 50%; left: 0; bottom: 0;
        top: 760px;
        margin: 0px auto;
    }
    #position-btn5{
        position: absolute;
        right: 0; left: 50%; bottom: 0;
        top: 960px;
        margin: 0px auto;
    }
    #position-btn6{
        position: absolute;
        right: 50%; left: 0; bottom: 0;
        top: 1160px;
        margin: 0px auto;
    }
}

.bckgtxt{
    background-color: #ffff;
  padding: 20px;
  border-radius: 40px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
  
}














